# Directorios de Node
node_modules/
dist/
.env
coverage/
uploads/

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de OS
.DS_Store
Thumbs.db

# SonarQube y logs temporales
.scannerwork/
*.log